bin/
out/


config.properties


# dependencies
/backend/node_modules/

# environment
/backend/.env

# logs
/backend/logs
/backend/*.log
npm-debug.log*

*.iml
.idea/

# compiled Java classes
/frontend/target/
/frontend/bin/

# IDE/project files
# IntelliJ
/frontend/.idea/
/frontend/*.iml
# Eclipse
/frontend/.classpath
/frontend/.project
/frontend/.settings/
/frontend/.factorypath

# VS Code
/frontend/.vscode/

# JavaFX cache
/frontend/.javafx-cache/


